<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/cb9e475ff7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <main class="documentation">
      <header>
        <nav class="navigation">
          <a href="/index.html" class="logo"
            >MindifyUI<img src="/assets/logo.svg" alt="logo" class="img-logo" />
          </a>
          <div class="secondary-link">
            <a href="#" class="secondary-logo"><i class="fab fa-github"></i></a>
            <a href="#" class="secondary-logo"><i class="fab fa-twitter"></i></a>
            <a href="#" class="secondary-logo"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </nav>
      </header>
      <hr />
      <section class="content">
        <nav class="hamburger-menu">
          <button aria-expanded="false" aria-controls="list">
            <span class="open">☰</span>
          </button>
          <ul class="list">
            <li><a href="#">INSTALLATION</a></li>
            <li><a href="/Components/alert/alert.html">ALERT</a></li>
            <li><a href="/Components/avatar/avatar.html">AVATAR</a></li>
            <li><a href="/Components/Badges/badges.html">BADGES</a></li>
            <li><a href="/Components/Buttons/buttons.html">BUTTONS</a></li>
            <li><a href="/Components/card/card.html">CARD</a></li>
            <li><a href="/Components/Images/images.html">IMAGE</a></li>
            <li><a href="/Components/input/input.html">INPUT</a></li>
            <li><a href="/Components/list/list.html">LIST</a></li>
            <li><a href="/Components/modal/modal.html">MODAL</a></li>
            <li><a href="/Components/text-utilities/text-utilities.html">TEXT-UTILITIES</a></li>            
            <li><a href="/Components/navigation/navigation.html">NAVIGATION</a></li>
            <li><a href="/Components/ratings/ratings.html">RATINGS</a></li>
            <li><a href="/Components/slider/slider.html">SLIDER</a></li>              
          </ul>
        </nav>
        <div class="sidebar-wrapper">
          <ul>
            <li><a href="#">INSTALLATION</a></li>
            <li><a href="/Components/alert/alert.html">ALERT</a></li>
            <li><a href="/Components/avatar/avatar.html">AVATAR</a></li>
            <li><a href="/Components/Badges/badges.html">BADGES</a></li>
            <li><a href="/Components/Buttons/buttons.html">BUTTONS</a></li>
            <li><a href="/Components/card/card.html">CARD</a></li>
            <li><a href="/Components/Images/images.html">IMAGE</a></li>
            <li><a href="/Components/input/input.html">INPUT</a></li>
            <li><a href="/Components/list/list.html">LIST</a></li>
            <li><a href="/Components/modal/modal.html">MODAL</a></li>
            <li>
              <a href="/Components/text-utilities/text-utilities.html"
                >TEXT-UTILITIES</a
              >
            </li>
            <li><a href="/Components/navigation/navigation.html">NAVIGATION</a></li>
            <li><a href="/Components/ratings/ratings.html">RATINGS</a></li>
            <li><a href="/Components/slider/slider.html">SLIDER</a></li>
          </ul>
        </div>
        <div class="aside-wrapper">
          <h1 class="heading">BADGES</h1>
          <div class="flex-col copy">
            <div class="badges badge-home">
              <i class="fas fa-home"></i><span>10</span>
            </div>
            <div class="class-wrapper wrapper-badge-home"></div>
            <div class="badges badge-text">
              <div>Text With Badge</div>
              <span>99</span>
            </div>
            <div class="class-wrapper wrapper-badge-text"></div>
            <div class="badges badge-button">
              <span>10</span>
              <button class="button button-primary">Button</button>
            </div>
            <div class="class-wrapper wrapper-badge-button"></div>
            <div class="badges badge-bell">
              <i class="far fa-bell"></i><span>10</span>
            </div>
            <div class="class-wrapper wrapper-badge-bell"></div>
            <div class="badges badge-cart">
              <i class="fas fa-shopping-cart"></i><span>10</span>
            </div>
            <div class="class-wrapper wrapper-badge-cart"></div>
          </div>
          <h1 class="heading">AVATAR BADGES</h1>
          <div class="flex-col copy2">
            <div class="avatar-badge avatar-active">
              <img
                src="/assets/avatar.svg"
                alt="avatar"
                class="avatar-badge-img"
              />
              <div></div>
            </div>
            <div class="class-wrapper wrapper-avatar-active"></div>
            <div class="avatar-badge avatar-live">
              <img
                src="/assets/avatar2.svg"
                alt="avatar"
                class="avatar-badge-img"
              />
              <div></div>
            </div>
            <div class="class-wrapper wrapper-avatar-live"></div>
            <div class="avatar-badge avatar-offline">
              <img
                src="/assets/avatar.svg"
                alt="avatar"
                class="avatar-badge-img"
              />
              <div></div>
            </div>
            <div class="class-wrapper wrapper-avatar-offline"></div>
            <div class="avatar-badge avatar-notification">
              <img
                src="/assets/avatar2.svg"
                alt="avatar"
                class="avatar-badge-img"
              />
              <div>22</div>
            </div>
            <div class="class-wrapper wrapper-avatar-notification"></div>
          </div>
        </div>
      </section>
    </main>
    <script src="/script.js"></script>
  </body>
</html>
