<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/cb9e475ff7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="badges-wrapper">
        <div class="badges badge-home">
          <i class="fas fa-home"></i><span>10</span>
        </div>
        <div class="badges badge-text">
         <div >Text With Badge</div><span>99</span>
        </div>
        <div class="badges badge-button">
          <span>10</span>
          <button>Button</button>
        </div>
        <div class="badges badge-bell">
          <i class="far fa-bell"></i><span>10</span>
        </div>
        <div class="badges badge-cart">
          <i class="fas fa-shopping-cart"></i><span>10</span>
        </div>
           <div class="avatar-badge avatar-active">
             <img src="assets/avatar.jpg" alt="avatar" class="avatar-badge-img">
             <div></div>
           </div>
           <div class="avatar-badge avatar-live">
            <img src="assets/avatar.jpg" alt="avatar" class="avatar-badge-img">
            <div></div>
          </div>
          <div class="avatar-badge avatar-offline">
            <img src="assets/avatar.jpg" alt="avatar" class="avatar-badge-img">
            <div></div>
          </div>
          <div class="avatar-badge avatar-notification">
            <img src="assets/avatar.jpg" alt="avatar" class="avatar-badge-img">
            <div>22</div>
          </div>
      </div>
</body>
</html>