<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mindify | GRID</title>
    <link rel="stylesheet" href="/styles.css" />
    <script
      src="https://kit.fontawesome.com/cb9e475ff7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main class="documentation">
      <header>
        <nav class="navigation">
          <a href="/index.html" class="logo"
            >MindifyUI<img src="/assets/logo.svg" alt="logo" class="img-logo" />
          </a>
          <div class="secondary-link">
            <a href="#" class="secondary-logo"><i class="fab fa-github"></i></a>
            <a href="#" class="secondary-logo"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="#" class="secondary-logo"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </nav>
      </header>
      <hr />
      <section class="content">
        <nav class="hamburger-menu">
          <button aria-expanded="false" aria-controls="list">
            <span class="open">☰</span>
          </button>
          <ul class="list">
            <li><a href="/pages/installation.html">INSTALLATION</a></li>
            <li><a href="/Components/alert/alert.html">ALERT</a></li>
            <li><a href="/Components/avatar/avatar.html">AVATAR</a></li>
            <li><a href="/Components/Badges/badges.html">BADGES</a></li>
            <li><a href="/Components/Buttons/buttons.html">BUTTONS</a></li>
            <li><a href="/Components/card/card.html">CARD</a></li>
            <li><a href="/Components/Images/images.html">IMAGE</a></li>
            <li><a href="/Components/input/input.html">INPUT</a></li>
            <li><a href="/Components/list/list.html">LIST</a></li>
            <li><a href="/Components/modal/modal.html">MODAL</a></li>
            <li>
              <a href="/Components/text-utilities/text-utilities.html"
                >TEXT-UTILITIES</a
              >
              <li><a href="/Components/navigation/navigation.html">NAVIGATION</a>
            </li>
            <li><a href="/Components/ratings/ratings.html">RATINGS</a></li>
            <li><a href="/Components/slider/slider.html">SLIDER</a></li>
            <li><a href="/Components/grid/grid.html">GRID</a></li>
            <li><a href="/Components/toast/toast.html">TOAST</a></li>
          </ul>
        </nav>
        <div class="sidebar-wrapper">
          <ul>
            <li><a href="/pages/installation.html">INSTALLATION</a></li>
            <li><a href="/Components/alert/alert.html">ALERT</a></li>
            <li><a href="/Components/avatar/avatar.html">AVATAR</a></li>
            <li><a href="/Components/Badges/badges.html">BADGES</a></li>
            <li><a href="/Components/Buttons/buttons.html">BUTTONS</a></li>
            <li><a href="/Components/card/card.html">CARD</a></li>
            <li><a href="/Components/Images/images.html">IMAGE</a></li>
            <li><a href="/Components/input/input.html">INPUT</a></li>
            <li><a href="/Components/list/list.html">LIST</a></li>
            <li><a href="/Components/modal/modal.html">MODAL</a></li>
            <li><a href="/Components/text-utilities/text-utilities.html">TEXT-UTILITIES</a>
            <li><a href="/Components/navigation/navigation.html">NAVIGATION</a></li>
            <li><a href="/Components/ratings/ratings.html">RATINGS</a></li>
            <li><a href="/Components/slider/slider.html">SLIDER</a></li>
            <li><a href="/Components/grid/grid.html">GRID</a></li>
            <li><a href="/Components/toast/toast.html">TOAST</a></li>
          </ul>
      </section>
      <div class="aside-wrapper">
        <h1 class="heading">GRIDS</h1>
          <h2 class="text-grey">Four types of grids:</h2>
          <h2 class="text-grey">grid-column-2,grid-row-2,grid-column-3 and grid-row-3</h2>
          <div class="flex-col copy">
              <div class="grid grid-column-2">
                <div class="grid-child"><h2>Grid1</h2></div>
                <div class="grid-child"><h2>Grid2</h2></div>
              </div>
              <div class="class-wrapper grid-column-2-wrapper"></div>
              <div class="grid grid-row-2">
                <div class="grid-child"><h2>Grid1</h2></div>
                <div class="grid-child"><h2>Grid2</h2></div>
              </div> 
              <div class="class-wrapper grid-row-2-wrapper"></div>
              <div class="grid grid-column-3">
                <div class="grid-child"><h2>Grid1</h2></div>
                <div class="grid-child"><h2>Grid2</h2></div>
                <div class="grid-child"><h2>Grid3</h2></div>
              </div>
              <div class="class-wrapper grid-column-3-wrapper"></div>
              <div class="grid grid-row-3">
                <div class="grid-child"><h2>Grid1</h2></div>
                <div class="grid-child"><h2>Grid2</h2></div>
                <div class="grid-child"><h2>Grid3</h2></div>
              </div>
              <div class="class-wrapper grid-row-3-wrapper"></div>
          </div>
      </div>
    </main>
    <script src="/script.js"></script>
  </body>
</html>
