@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px;
}
:root {
    --color-primary-green : #2ecc71;
    --color-secondary-white: white;
    --color-primary-green-bright:rgb(57,255,20);
    --color-black:#000000bf;
    --color-grey :grey;
    --alert-success:#60C060;
    --alert-info:#4D90Fd;
    --alert-notification:#FC9700;
    --alert-error:red;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
a{
    text-decoration: none;
}
input,textarea,button{
    font-family: 'Roboto', sans-serif;
    font-size: inherit;
} 