<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindify | Card</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/cb9e475ff7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="card-wrapper ">
        <img src="assets/sweatshirt.jpg" alt="sweatshirt">
        <h1 class="heading-one">Mental Health T-Shirt</h1>
        <h2 class="heading-two">by WaitForjuly CO.</h2>
        <div class="card-button-wrapper">
            <button class="button button-primary add-to-cart"><Span>Add to Cart</Span><i class="fas fa-shopping-cart"></i></button>
            <button class="button button-secondary wishlist"><span>Wishlist</span><i class="far fa-heart"></i></button>
        </div>
    </div>
    <div class="card-wrapper card-overlay ">
        <img src="assets/sweatshirt.jpg" alt="sweatshirt">
        <h1 class="heading-one">Mental Health T-Shirt</h1>
        <h2 class="heading-two">by WaitForjuly CO.</h2>
    </div>
    <div class="card-wrapper card-text">
        <img src="assets/sweatshirt.jpg" alt="sweatshirt">
        <h1 class="heading-one">Mental Health T-Shirt</h1>
        <h2 class="heading-two">by WaitForjuly CO.</h2>
    </div>
    <div class="card-wrapper card-vertical">
       <div class="card-vertical-content">
        <img src="assets/sweatshirt.jpg" alt="sweatshirt">
        <div class="heading-wrapper">   
            <h1 class="heading-one">Mental Health T-Shirt</h1>
            <h2 class="heading-two">by WaitForjuly CO.</h2>
        </div>    
    </div>
        <div class="card-button-wrapper">
            <button class="button button-primary add-to-cart"><Span>Add to Cart</Span><i class="fas fa-shopping-cart"></i></button>
            <button class="button button-secondary wishlist"><span>Wishlist</span><i class="far fa-heart"></i></button>
        </div>
    </div>
    <div class="card-wrapper card-box-shadow">
        <img src="assets/sweatshirt.jpg" alt="sweatshirt">
        <h1 class="heading-one">Mental Health T-Shirt</h1>
        <h2 class="heading-two">by WaitForjuly CO.</h2>
        <div class="card-button-wrapper">
            <button class="button button-primary add-to-cart"><Span>Add to Cart</Span><i class="fas fa-shopping-cart"></i></button>
            <button class="button button-secondary wishlist"><span>Wishlist</span><i class="far fa-heart"></i></button>
        </div>
    </div>     
    <div class="card-wrapper card-dismiss">
        <button class="card-button-dismiss">X</button>
        <img src="assets/sweatshirt.jpg" alt="sweatshirt"/>
        <h1 class="heading-one">Mental Health T-Shirt</h1>
        <h2 class="heading-two">by WaitForjuly CO.</h2>
        <div class="card-button-wrapper">
            <button class="button button-primary add-to-cart"><Span>Add to Cart</Span><i class="fas fa-shopping-cart"></i></button>
            <button class="button button-secondary wishlist"><span>Wishlist</span><i class="far fa-heart"></i></button>
        </div>
    </div>
</body>
</html>