.button{
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 2px;
    background-color: var(--color-secondary-white);
}
.button-primary{
    color: var(--color-secondary);
    background-color: var(--color-primary-green);
}
.button-primary:hover{
    background-color: var(--color-primary-green-bright);
    transition: 0.1s;
}
.button-secondary{
    border: 1px solid black;
}
.button-secondary:hover{
      border: 1px solid var(--color-primary-green-bright);
      color: var(--color-primary-green-bright);
      transition: 0.1s;
}
.button-link{
    color: var(--color-primary-green);
}
.button-icon{
    font-size: 2rem;
    color: grey;
}
.button-icon:hover{
    color: black;
}
.button-floating-action{
    font-size: 2rem;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

