<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mindify|Button</title>
    <link rel="stylesheet" href="/styles.css" />
    <script
      src="https://kit.fontawesome.com/cb9e475ff7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main class="documentation">
      <header>
        <nav class="navigation">
          <a href="/index.html" class="logo"
            >MindifyUI<img src="/assets/logo.svg" alt="logo" class="img-logo" />
          </a>
          <div class="secondary-link">
            <a href="https://github.com/archit7448" class="secondary-logo"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/Archit0204" class="secondary-logo"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://www.linkedin.com/in/archit-singh-9b6382221/" class="secondary-logo"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </nav>
      </header>
      <hr />
      <section class="content">
        <nav class="hamburger-menu">
          <button aria-expanded="false" aria-controls="list">
            <span class="open">☰</span>
          </button>
          <ul class="list">
            <li><a href="/pages/installation.html">INSTALLATION</a></li>
            <li><a href="/Components/alert/alert.html">ALERT</a></li>
            <li><a href="/Components/avatar/avatar.html">AVATAR</a></li>
            <li><a href="/Components/Badges/badges.html">BADGES</a></li>
            <li><a href="/Components/Buttons/buttons.html">BUTTONS</a></li>
            <li><a href="/Components/card/card.html">CARD</a></li>
            <li><a href="/Components/Images/images.html">IMAGE</a></li>
            <li><a href="/Components/input/input.html">INPUT</a></li>
            <li><a href="/Components/list/list.html">LIST</a></li>
            <li><a href="/Components/modal/modal.html">MODAL</a></li>
            <li>
              <a href="/Components/text-utilities/text-utilities.html"
                >TEXT-UTILITIES</a
              >
            </li>
            <li>
              <a href="/Components/navigation/navigation.html">NAVIGATION</a>
            </li>
            <li><a href="/Components/ratings/ratings.html">RATINGS</a></li>
            <li><a href="/Components/slider/slider.html">SLIDER</a></li>
          </ul>
        </nav>
        <div class="sidebar-wrapper">
          <ul>
            <li><a href="/pages/installation.html">INSTALLATION</a></li>
            <li><a href="/Components/alert/alert.html">ALERT</a></li>
            <li><a href="/Components/avatar/avatar.html">AVATAR</a></li>
            <li><a href="/Components/Badges/badges.html">BADGES</a></li>
            <li><a href="/Components/Buttons/buttons.html">BUTTONS</a></li>
            <li><a href="/Components/card/card.html">CARD</a></li>
            <li><a href="/Components/Images/images.html">IMAGE</a></li>
            <li><a href="/Components/input/input.html">INPUT</a></li>
            <li><a href="/Components/list/list.html">LIST</a></li>
            <li><a href="/Components/modal/modal.html">MODAL</a></li>
            <li>
              <a href="/Components/text-utilities/text-utilities.html"
                >TEXT-UTILITIES</a
              >
            </li>
            <li>
              <a href="/Components/navigation/navigation.html">NAVIGATION</a>
            </li>
            <li><a href="/Components/ratings/ratings.html">RATINGS</a></li>
            <li><a href="/Components/slider/slider.html">SLIDER</a></li>
          </ul>
        </div>
        <div class="aside-wrapper">
          <h1 class="heading">BUTTON</h1>
          <h2 class="text-grey">You can use button for the projects</h2>
          <h2 class="text-grey">Primary,Secondary,Link,Action and Floating</h2>
          <div class="flex-col copy">
            <button class="button button-primary">Primary Button</button>
            <div class="class-wrapper wrapper-button-primary"></div>
            <button class="button button-secondary">Secondary Button</button>
            <div class="class-wrapper wrapper-button-secondary"></div>
            <button class="button button-link">Link Button</button>
            <div class="class-wrapper wrapper-button-link"></div>
            <button class="button button-icon">
              <i class="fas fa-download"></i>
            </button>
            <div class="class-wrapper wrapper-button-icon"></div>
            <button class="button button-floating-action">
              <i class="fas fa-download"></i>
            </button>
            <div class="class-wrapper wrapper-button-floating-action"></div>
          </div>
        </div>
      </section>
    </main>
    <script src="/script.js"></script>
  </body>
</html>
