<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindify|Avatar</title>
    <script
      src="https://kit.fontawesome.com/cb9e475ff7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles.css">
<body>
    <main class="documentation">
        <header>
            <nav class="navigation">
                <a href="#" class="logo">MindifyUI<img src="/assets/logo.svg" alt="logo" class="img-logo"> </a>
                <div class="secondary-link">
                    <a href="https://github.com/archit7448" class="secondary-logo"><i class="fab fa-github"></i></a>
                    <a href="https://twitter.com/Archit0204" class="secondary-logo"
                      ><i class="fab fa-twitter"></i
                    ></a>
                    <a href="https://www.linkedin.com/in/archit-singh-9b6382221/" class="secondary-logo"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </div>
                </nav>
            </header>
            <hr>
     <section class="content"> 
        <nav class="hamburger-menu"> 
            <button aria-expanded="false" aria-controls="list">
                <span class="open">☰</span>
            </button>
               <ul class="list">
                   <li><a href="/pages/installation.html">INSTALLATION</a></li>
                    <li><a href="/Components/alert/alert.html">ALERT</a></li>
                    <li><a href="/Components/avatar/avatar.html">AVATAR</a></li>
                    <li><a href="/Components/Badges/badges.html">BADGES</a></li>
                    <li><a href="/Components/Buttons/buttons.html">BUTTONS</a></li>
                    <li><a href="/Components/card/card.html">CARD</a></li>
                    <li><a href="/Components/Images/images.html">IMAGE</a></li>
                    <li><a href="/Components/input/input.html">INPUT</a></li>
                    <li><a href="/Components/list/list.html">LIST</a></li>
                    <li><a href="/Components/modal/modal.html">MODAL</a></li>
                    <li><a href="/Components/text-utilities/text-utilities.html">TEXT-UTILITIES</a></li>
                    <li><a href="/Components/navigation/navigation.html">NAVIGATION</a>
                    <li><a href="/Components/ratings/ratings.html">RATINGS</a></li>
                    <li><a href="/Components/slider/slider.html">SLIDER</a></li>               
                </ul>
         </nav>
         <nav class="sidebar-wrapper">
            <ul>
                <li><a href="/pages/installation.html">INSTALLATION</a></li>
                <li><a href="/Components/alert/alert.html" class="blue-logo">ALERT</a></li>
                <li><a href="/Components/avatar/avatar.html">AVATAR</a></li>
                <li><a href="/Components/Badges/badges.html">BADGES</a></li>
                <li><a href="/Components/Buttons/buttons.html">BUTTONS</a></li>
                <li><a href="/Components/card/card.html">CARD</a></li>
                <li><a href="/Components/Images/images.html">IMAGE</a></li>
                <li><a href="/Components/input/input.html">INPUT</a></li>
                <li><a href="/Components/list/list.html">LIST</a></li>
                <li><a href="/Components/modal/modal.html">MODAL</a></li>
                <li><a href="/Components/text-utilities/text-utilities.html">TEXT-UTILITIES</a></li>
                <li><a href="/Components/navigation/navigation.html">NAVIGATION</a>
                <li><a href="/Components/ratings/ratings.html">RATINGS</a></li>
                <li><a href="/Components/slider/slider.html">SLIDER</a></li>    
            </ul>
        </nav>
        <div class="aside-wrapper">
            <h1 class="heading">AVATAR</h1>
            <h2 class="text-grey">Diffrent sizes of avatar </h2>
            <h2 class="text-grey">Extra-large,large,medium, small and extra-small </h2>
            <div class="flex-col copy"> 
                <div class="avatar avatar-xlg ">
                  <img src="/assets/avatar.svg" alt="avatar" class="avatar-img">
              </div>
              <div class="class-wrapper wrapper-avatar-xlg"></div>
              <div class="avatar avatar-lg">
                  <img src="/assets/avatar2.svg" alt="avatar" class="avatar-img">
                </div>
                <div class="class-wrapper wrapper-avatar-lg"></div>
                <div class="avatar avatar-md">
                    <img src="/assets/avatar.svg" alt="avatar" class="avatar-img">
                </div>
                <div class="class-wrapper wrapper-avatar-md"></div>
                <div class="avatar avatar-sml">
                    <img src="/assets/avatar.svg" alt="avatar" class="avatar-img">
                </div>
                <div class="class-wrapper wrapper-avatar-sml"></div>
                <div class="avatar avatar-xsml">
                    <img src="/assets/avatar2.svg" alt="avatar" class="avatar-img">
                </div>
                <div class="class-wrapper wrapper-avatar-xsml"></div>
            </div>
        </div>        
    </section>   
</main>
<script src="/script.js"></script>
</body>
</html>