.avatar-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-xlg{
    width: 15rem;
    height: 15rem;
}
.avatar-lg{
    width: 12rem;
    height: 12rem;
}
.avatar-md{
    width: 10rem;
    height: 10rem;
}
.avatar-sml{
     width: 7rem;
     height: 7rem;
}
.avatar-xsml{
    width:4rem;
    height:4rem;
}
.avatar-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}